<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Default Meta Content -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Custom Meta Content -->
    <meta name="theme" content="#1b1b1b" />
    <link rel="shortcut icon" href="/img/wings.png" type="image/x-icon" />
    <!-- StyleSheets and JavaScript Content -->
    <link rel="stylesheet" href="/style.css" />
    <script type="module" async src="/app.js"></script>
    <title><%=pageTitle%></title>
  </head>

  <body>
    <!-- This is a website for white & black and dark design blue themed website -->
    <%- include('./navbar.ejs') %>

    <main class="section header-section">
      <div class="container">
        <h3 class="title">Tech Shamp</h3>
        <div class="summary">
          <h3>Made By TS</h3>
          <p>
            Good design makes a statement, and that's what sets Elliot apart.
            His mediums are as bold as his message. Loud, proud, no limits
            allowed - these are what define anything Made by TS.
          </p>
          <a href="#" class="btn about-btn">Work With TS</a>
        </div>
      </div>
    </main>

    <section class="section about-section">
      <div class="container">
        <div class="left-content">
          <h3>HI, I'M TS.</h3>
          <h3>I design with<br />purpose.</h3>
        </div>
        <div class="right-content">
          <p>
            The medium is the message, but the message also defines the medium.
            I am constantly experimenting with both, without limits or
            restrictions. My only rule: Create only when there's something to
            say.<br />My art is my statement, and always will be.
          </p>
          <a href="#" class="btn showcase-btn">See what I've done</a>
        </div>
      </div>
    </section>
  </body>
</html>
