<nav class="navBar">
  <ul class="logo">
    <li class="links image">
      <a href="#">TECH SHAMP</a>
    </li>
  </ul>
  <ul class="nav-links">
    <li class="links">
      <a href="#">Home</a>
    </li>
    <li class="links">
      <a href="/about">About</a>
    </li>
    <li class="links">
      <a href="/portfolio">Portfolio</a>
    </li>
    <li class="links">
      <a href="/service">Services</a>
    </li>
    <li class="links">
      <a href="/contact">Contact</a>
    </li>
  </ul>
</nav>
