<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Default Meta Content -->
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Custom Meta Content -->
  <meta name="theme" content="#1b1b1b" />
  <link rel="shortcut icon" href="/img/wings.png" type="image/x-icon" />
  <!-- StyleSheets and JavaScript Content -->
  <link rel="stylesheet" href="/style.css" />
  <script type="module" async src="/app.js"></script>
  <title>
    <%=pageTitle%>
  </title>
</head>

<body>
  <%- include('./navbar.ejs') %>
</body>

</html>