/* Fonts */
@font-face {
  font-family: "Heading";
  font-weight: 700;
  src: url(fonts/montserrat.woff2);
}
@font-face {
  font-family: "Heading";
  font-weight: 900;
  src: url(fonts/montserrat900.woff2);
}
@font-face {
  font-family: "Content";
  src: url(fonts/Inter-400.woff2);
}

/* Variables & Colors */
:root {
  --white: #f3f3f3;
  --black: #000000;
  --Eigengrau: #16161d;
  --background: #1b1f24;
  --separator: #9b9b9b;
  --lines: #0d1216b3;
  --nav-background: #f2f2f2;
  --sky-blue: #00101d;
  --sky-blue-accent: #264a6d;
  --gradient: linear-gradient(to bottom, #3cb0fd, #3498db);
  --black-white: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 50%,
    rgba(255, 255, 255, 1) 50%
  );
  --white-black: linear-gradient(
    270deg,
    rgba(0, 0, 0, 1) 50%,
    rgba(255, 255, 255, 1) 50%
  );
  --InnerShadow: #9e9e9e;
  --Shadow: #ffffff80;
  --HoverNav: #2e2e2e;
  --icons: #fff;
}

/* Universal Selector */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Document Selector */
html {
  font-size: 90%;
}
body {
  font-family: "Content";
  background: var(--background);
  scroll-behavior: smooth;
  transition: all 1s;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Heading";
  text-transform: uppercase;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.nav-links,
.navBar {
  display: flex;
}
.links a,
.navBar {
  color: var(--lines);
}
.navBar {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 2px 15px #000;
  padding: 1.2rem 3rem;
  justify-content: space-between;
  align-items: center;
  background: var(--separator);
  z-index: 9;
}
.links {
  margin: 0 0.8rem;
}
.links a {
  font-size: 1.2rem;
  font-family: Heading;
  font-weight: 700;
  letter-spacing: 0.04rem;
  transition: 0.3s;
  text-shadow: 0px 2px 3px #ffffff80;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}
.links a:active,
.links a:hover {
  cursor: pointer;
  color: #565656;
}

/* Section Styling */
.section {
  width: 100%;
  height: 100vh;
}
.container {
  padding: 7rem 10rem;
}
.btn {
  transition: all 0.5s;
  padding: 0.8rem 4.2rem;
  background: var(--white);
  color: var(--black);
  font-family: "Content";
  font-weight: 700;
  border: none;
  transition: all 0.5s;
}
.btn:hover {
  background: var(--black);
  color: var(--white);
}
.header-section {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("img/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.header-section .container .title {
  color: var(--white);
  font-size: 2.8rem;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 5px 10px 15px var(--black);
}
.header-section .container .summary {
  width: 36rem;
  margin: 10rem 0;
  color: var(--white);
  line-height: 1.3rem;
  text-transform: uppercase;
  transition: 1s;
}
.header-section .container .summary h3 {
  text-transform: capitalize;
  font-size: 2.2rem;
}
.header-section .container .summary p {
  margin: 2.8rem 0 6.8rem 0;
  font-weight: 600;
}

/* SHOWCASE CONTENT STYLING */
.about-section {
  display: flex;
  align-items: center;
}
.about-section .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-section .container .left-content {
  width: 45rem;
  color: var(--white);
}
.about-section .container .left-content h3:last-child {
  padding: 1.8rem 0;
  width: 20rem;
  margin: 10rem 0;
  color: var(--white);
}
.about-section .container .right-content p {
  padding: 2.8rem 0;
  line-height: 1.2rem;
}

/* RESPONSVENESS */
@media only screen and (max-width: 1280px) {
  .header-section .container .summary {
    width: 36rem;
    margin: 10rem 0;
  }
}
@media only screen and (max-width: 880px) {
  .container {
    padding: 2rem 4rem;
  }
}
@media only screen and (max-width: 680px) {
  .header-section .container .summary {
    width: 100%;
  }
}
@media only screen and (max-width: 480px) {
  html {
    font-size: 80%;
  }
  .header-section .container .summary {
    width: 100%;
  }
}
@media only screen and (max-width: 420px) {
  html {
    font-size: 70%;
  }
  .header-section .container .summary {
    width: 100%;
  }
}
@media only screen and (max-width: 360px) {
  .container {
    padding: 0.6rem 1rem;
  }
  html {
    font-size: 60%;
  }
}
@media only screen and (max-width: 260px) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 220px) {
  html {
    font-size: 40%;
  }
}
